<h1 class="top-h">Comments Cards</h1>
<!-- <h1>idddddddddd{{id}}</h1> -->


<div class="main" *ngFor="let arr of allData">
    <div class="posts" *ngIf="arr.id == id" >
        <div class="post" >
            <div class="post" >
            <div class="title">
                <h2>Title: {{ arr.title }}</h2>
            </div>
            <div class="userId">
                <div>User ID: {{ arr.userId }}</div>
            </div>
            <div class="id">
                <div>ID: {{ arr.id }}</div>
            </div>
            <div class="body">
                <p>{{ arr.body }}</p>
            </div>
            <button class="comentBtn" (click) = 'commentsHandle()'>Comments</button>
            <div *ngFor="let comment of comments">
               <div *ngIf="arr.id == id">
                <div class="comments" *ngIf="isComment">
                    <p> PostId: {{comment.postId}}</p>
                    <p> ID:  {{comment.id}}</p>
                    <p> Name: {{comment.name}}</p>
                    <p> E-mail: {{comment.email}}</p>
                    <p> Body: {{comment.body}}</p>
                </div>
               </div>
            </div>
        </div>
        <div *ngIf="!arr">Loading...</div>  <!--Display a loading message while fetching data -->
    </div>
</div>
</div>
