<div  class="top-h">
    <h1>All Posts</h1>
    <!-- <button style="text-align: end;" (click) = 'logout()'>LogOut</button> -->

</div>
<button class="signBtn" type="submit" (click) = 'logout()'>logOut</button>
<button class="signBtn" type="submit" [routerLink]="['/custom']">Create Posts</button>
<button class="signBtn" type="submit" [routerLink]="['/selectData']">Select Posts</button>

<div  class="main">
    <div *ngFor="let arr of dataFromBackend" class="posts">
        <!-- <div class="post" (click)="handleCardClick(arr)" [routerLink]="['','123']" > -->
            <div class="post" (click)="handleCardClick(arr)" >
                <div class="post" (click)="handleCardClickId(arr.id)" >
            <div class="title">
                <h2>Title:{{arr.title}}</h2>
                
            </div>
            <!-- <div class="userId">
                <div>User ID :<span>{{arr.users}}</span> </div>
            </div> -->
            <div class="id">
                <div>ID: {{arr.id}}</div>
            </div>
            <div class="body">
                <p>Body: {{arr.body}}</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <i style="margin-left: 1rem; font-size: 40px;" 
           class="fa-regular fa-heart" 
           [ngClass]="{ 'Liked': arr.likes.includes(userId) }" 
           (click)="toggleLike(arr.id, userId)">
        </i>
        <span style="margin-left: 0.5rem; font-size: 30px;">{{ arr.likes.length }}</span>
        <i class="fa-regular fa-comments" style="margin-left: 5rem; font-size: 40px;" ></i>
      </div>    
    </div>
</div>



