<h1 class="top-h">Id Post</h1>
<!-- <h1>datatatatta :{{id}}</h1> -->

<!-- <div class="main" *ngFor="let arr of posts">
    <div class="posts" *ngIf="arr.id == this.id" >
        <div class="post"  (click)="handleCardClick(arr)" >
            <div class="post" (click)="handleCardClickId(arr.id)" >
            <div class="title">
                <h2>Title: {{ arr.title }}</h2>
            </div>
            <div class="userId">
                <div>User ID: {{ arr.userId }}</div>
            </div>
            <div class="id">
                <div>ID: {{ arr.id }}</div>
            </div>
            <div class="body">
                <p>{{ arr.body }}</p>
            </div>
        </div>
        <div *ngIf="!arr">Loading...</div>  
    </div>
</div> -->
<!--Display a loading message while fetching data -->


<div class="main" >
    <div *ngIf="post" class="posts">
        <h2>Title: {{ post.title }}</h2>
        <p> ID: {{ post.id }}</p>
        <!-- <p>userID:  {{ post.users }}</p> -->
        <div *ngIf="!post.expanded">
          <p class = 'seeMore'>Body:  {{ post.body | slice: 0:10 }}... <span (click) = 'toggleExpand(post)'><u>See More</u></span></p>
        </div>
        <div *ngIf="post.expanded">
          <p class="seeLess">Body:  {{ post.body}} <span (click) = 'toggleExpand(post)'><u>See Less</u></span></p>
        </div>
        
        <div class="crudBtn">
        <div class="editDelBtn" (click) = 'deletePost(post.id)'><button>Delete</button></div>
        <div class="editDelBtn"> <button mat-button (click)="openEditModal(post)">Edit Post</button></div>
        
      </div>
       <div class="editDelBtn" style="text-align: center; margin-top: 10px;" >   <!-- <button (click) = 'postComment(post._id)'>Comments</button> -->
      
        <textarea [(ngModel)]="newComment" placeholder="Add a comment"></textarea>
        <button (click)="postComment(post.id, newComment)">Post</button>
      </div>     
       
      <div class="posts">
        <p>{{post.comments}}</p>
      </div>
      </div>
</div>

<!--   

<div class="main">
    <div *ngIf="post" class="posts">
      <h2>Title: {{ post.title }}</h2>
      <p>ID: {{ post.id }}</p>
      <p>userID: {{ post.userId }}</p>
      <p>Body: {{ post.body }}</p>
      <div class="crudBtn">
        <div class="editDelBtn" (click)="deletePost(post.id)"><button>Delete</button></div>
        <div class="editDelBtn"><button (click)="openEditModal(post)">Edit</button></div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editPostForm="ngForm" (ngSubmit)="submitEditForm()">
            <div class="form-group">
              <label for="editTitle">Title</label>
              <input type="text" class="form-control" id="editTitle" name="editTitle" [(ngModel)]="editPostData.title" required>
            </div>
            <div class="form-group">
              <label for="editBody">Body</label>
              <textarea class="form-control" id="editBody" name="editBody" [(ngModel)]="editPostData.body" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->